<!-- blog breadcrumb version one strat here -->
<section class="breadcrumb-blog-version-one">
  <div class="single-bredcurms" style="background-image:url('/assets/packages/bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="bredcrums-content">
            <h2>Edit your Event</h2>
            <ul>
              <li><a href="/">Home</a>
              </li>
              <li><a href="/events">Events</a>
              </li>
              <li>Edit your event
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- blog breadcrumb version one end here -->


<section class="section-paddings single-package-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <div class="single-package-title">
            <aside><div class="booking-form">
        
<% if user_signed_in? %>



  <%= form_for @event do |f| %>
  <p>
  <%= f.label :title_event %><br>
  <%= f.text_field :title_event %>
  </p>
  <p>
  <%= f.label :description_event %><br>
  <%= f.text_area :description_event %>
  </p>
  <p>
  <%= f.label :number_of_places %><br>
  <%= f.number_field :number_of_places %>
  </p>
  <p>
  <%= f.label :price %><br>
  <%= f.number_field :price %>
  </p> 
  <p>
  <%= f.label :starting_date %><br>
  <%= f.date_field :starting_date %>
  </p>
  <p>
  <%= f.label :ending_date %><br>
  <%= f.date_field :ending_date %>
  </p>
  <p>
  <%= f.label :picture %><br>
  <%= f.file_field :picture %>
  </p>
  <p>
  <%= f.submit "update" %>
  </p>

  <% end %>
  
<% else %>

Login to create an event. 

<% end %>
        

            
            </div>
          </aside>
        </div>
      </div><!-- booking form end here -->
    </div>
  </div>
</section>






