<!-- blog breadcrumb version one strat here -->
<section class="breadcrumb-blog-version-one">
  <div class="single-bredcurms" style="background-image:url('/assets/bercums/Single-Package-Details.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="bredcrums-content">
            <h2>Events</h2>
            <ul>
              <li><a href="index.html">Home</a>
              </li>
              <li class="active">Events</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- blog breadcrumb version one end here -->
 

<section class="blog-contents-version-one pt-100 pb-70 popular-packages">
      <div class="container">
        <div class="row">
                <% @events.each do |event|%>
                              <div class="col-md-4 col-sm-6">
                                    <div class="single-package">
                                          <div class="package-image">
                                                    
                                                <% if event.picture.attached? %>
                                                <%= image_tag event.picture %>
                                                <% else %>
                                                <img src="/assets/packages/4.jpg">
                                                <% end %>

                                          </div>
                                          <div class="package-content">
                                                <h3><%= event.title_event %></h3>
                                                <p><%= event.city %>, <%= event.price %>
                                                  <%= event.starting_date.strftime("%d-%m-%Y")%>
                                                </p>
                                          </div>
                                          <div class="package-calto-action">
                                              <ul class="ct-action">
                                                <li><%= link_to "Voir l'événement", event_path(event), class: "travel-booking-btn hvr-shutter-out-horizontal" %>
                                                </li>
                                              </ul>
                                          </div>
                                    </div>
                              </div><!--end single package -->
                              <% end %>
          </div>
        </div>
</section><!-- single popular destination  end-->



