<% if user_signed_in? %>
<h1 class="text-center"> Créer un nouvel event !</h1>
<p class="text-center"> <%= current_user.email %>, merci de renseigner ces informations afin de créer votre événement ! </p>

<%= form_tag (events_path), multipart: true do %>
 
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
        <% @event.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
  <p> <%= label_tag 'title_event', "Quel est le nom de votre event ?"  %> </p>
  <p> <%= text_field_tag :title_event, nil, :required => true, placeholder: "Titre", autofocus: true %> </p>

  <p> <%= label_tag 'description_event', "En deux mots, pouvez-vous décrire votre event ?" %> </p>
  <p> <%= text_field_tag :description_event, nil, :required => true, placeholder: "Description"%> </p>

  <p> <%= label_tag 'address', "address ?" %> </p>
  <p> <%= text_field_tag :address, nil, :required => true , placeholder: "Votre adresse : ("%> </p>

  <p> <%= label_tag 'number_of_places', "combier de place ?" %> </p>
  <p> <%= text_field_tag :number_of_places, nil, :required => true %> </p>

  <p> <%= label_tag 'price', "Combien pour participer ?" %> </p>
  <p> <%= text_field_tag :price, nil, :required => true %> </p>

  <p> <%= label_tag 'starting_date', "Quand se déroule votre event ?" %> </p>
  <p> <%= date_field_tag :starting_date, nil, :required => true %> </p>

  <p> <%= label_tag 'picture', "Une image d'illustration ?" %> </p>
  <p> <%= file_field_tag :picture %> </p>

  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
<p> <%= submit_tag 'Je crée mon event', class: "btn btn-primary"%></p>

  </div>
</div>
<% end %>

<% else %>

Veuillez vous connecter pour creer un voyage LIEN

<% end %>