<div class="rounded-top">
<h1>
  <%= @event.title_event %>
</h1>
<p class="text-center"> Description : <%= @event.description_event %> </p>
<p class="text-center"> Lieu : <%= @event.city %> <%= @event.country %></p>
<p class="text-center"> Date : <%= @event.starting_date.strftime("%d-%m-%Y") %> </p>
<p class="text-center"> Créateur : <%= @event.creator.email %> </p>
</div>
  

<%= link_to "Rejoindre l'événement", { :controller => "events", :action => "subscribe"}, class: "btn btn-success" %> 

<h2> Liste des participants </h2>

<table class="table table-striped">
      <tr>
      <th>Nom</th>
      <th>Adresse mail</th>
      <th></th>

    </tr>

  <% @event.attendees.each do |attendee| %> 
    <tr>
    <td> <%= attendee.email %> </td>
    <td> <%= link_to('Voir le profil du participant', user_path(attendee)) %> </td>

    </tr>
    <% end %>
  </table>