    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Favi icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Button Hover animate css -->
    <link rel="stylesheet" href="css/hover-min.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- slick css -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- chosen.min-->
    <link rel="stylesheet" href="css/chosen.min.css">
    <!-- chosen.min-->
    <link rel="stylesheet" href="css/jquery-customselect.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- magnific Css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- custome css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr css -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

 <!-- blog breadcrumb version one strat here -->
<section class="breadcrumb-blog-version-one">
  <div class="single-bredcurms" style="background-image:url('/assets/packages/bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="bredcrums-content">
            <h2>Event</h2>
            <ul>
              <li><a href="/">Home</a>
              </li>
              <li><a href="/events">Events</a>
              </li>
              <li class="active"><%= %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- blog breadcrumb version one end here -->


<% if user_signed_in? %>

<link href="/assets/font-awesome.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/assets/tete.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= @profil.last_name %> <br><br>
						<%= @profil.first_name %><br><br>
					</div>
					<div class="profile-usertitle-job">
						<%= @profil.title_job %> <br><br>
						<%= @profil.city %> <br><br>
						<%= @profil.age %> ans <br><br>
						<%= @profil.language1 %><br><br>
						<%= @profil.language2 %><br><br>
						<%= @profil.language3 %></p><br><br>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Edit </a>
						</li>
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Proposer une excursion </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
	</div>
</div>


<section class="right">
	<link rel="stylesheet" href="/assets/font-awesome.min.scss">


		<div class="excursion">
 				 <p><button></button></p>
		</div>
</section>



<% else %>

Veuillez vous connecter pour voir la page du voyages LIEN

<% end %>


<!-- realted tour start here -->
<section class="related-tour popular-packages">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="section-title-3 mbt-100 related-title">
					<h2>Related Post</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- single package start -->
			<div class="col-md-4 col-sm-4">
				<div class="single-package">
					<div class="package-image">
						<a href="#"><img src="images/packages/1.jpg" alt="">
						</a>
					</div>
					<div class="package-content">
						<h3>Dubai – All Stunning Places</h3>
						<p>4Days, 5 Nights Start From <span>$500</span>
						</p>
					</div>
					<div class="package-calto-action">
						<ul class="ct-action">
							<li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Book Now</a>
							</li>
							<li>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- single package end -->

			<!-- single package start -->
			<div class="col-md-4 col-sm-4">
				<div class="single-package">
					<div class="package-image">
						<a href="#"><img src="images/packages/2.jpg" alt="">
						</a>
					</div>
					<div class="package-content">
						<h3>Dubai – All Stunning Places</h3>
						<p>4Days, 5 Nights Start From <span>$500</span>
						</p>
					</div>
					<div class="package-calto-action">
						<ul class="ct-action">
							<li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Book Now</a>
							</li>
							<li>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
						</ul>
					</div>
				</div>
			</div><!--End single package -->

			<div class="col-md-4 col-sm-4">
				<div class="single-package">
					<div class="package-image">
						<a href="#"><img src="images/packages/3.jpg" alt="">
						</a>
					</div>
					<div class="package-content">
						<h3>Dubai – All Stunning Places</h3>
						<p>4Days, 5 Nights Start From <span>$500</span>
						</p>
					</div>
					<div class="package-calto-action">
						<ul class="ct-action">
							<li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Book Now</a>
							</li>
							<li>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
						</ul>
					</div>
				</div>
			</div><!--End single package -->
		</div>
	</div>
</section>



<div class="to-top pos-rtive">
	<a href="#"><i class = "fa fa-angle-up"></i></a>
</div> <!-- Scroll to top jump button end-->

    <!-- ============================
            JavaScript Files
    ============================= -->
    <!-- jquery latest version -->
    <script src="js/vendor/jquery-3.2.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <!-- meanmenu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- jquery-ui js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- wow js -->
    <script src="js/wow.min.js"></script>
    <!-- counter js -->
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- waypoints js -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Isotope js -->
    <script src="js/isotope.pkgd.min.js"></script>
    <!-- magnific js -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Image loaded js -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <!-- chossen js -->
    <script src="js/chosen.jquery.min.js"></script>  
    <!-- Jquery plugin -->
    <script src="js/plugins.js"></script>
    <!-- select2 js plugin -->
    <script src="js/select2.min.js"></script>    
    <script src="js/colors.js"></script>
    <!-- Jquery plugin -->
    <script src="js/jquery-customselect.js"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIW0B_E3g-Yg533xy3yF0WHThi-mFvSNQ "></script>
    <!-- map js -->
    <script src="js/google-map.js"></script>
    <!-- main js -->    
    <script src="js/custom.js"></script>
</body>
</html>