<script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
<!-- footer start here -->
<footer class="footer-area">
	<div class="container">
		<div class="row">
			<!-- footer left -->
			<div class="col-md-3 col-sm-6 f-phone-responsive">
				<div class="single-footer">
					<div class="footer-left">
						<div class="footer-logo">
							<h3>About us</h3>
							</br>
							<p style="text-align: justify; max-width: 250px;" >After travelling a year as a digital nomad, i have realised that the best moment are always the you share with people. The aim of this website is to bring together digital nomads around the world.</p>
						</div>
					</div>
				</div>
			</div><!-- footer left -->

			<!-- footer info -->
			<div class="col-md-3 col-sm-6 f-phone-responsive">
				<div class="single-footer">
					<div class="footer-title">
					</div>
					<div class="footer-left">
						<div class="footer-logo">
							<h3>Info</h3>
                			<br/>
						</div>
						<ul class="footer-contact">
							<li><img class="map" src="/assets/icon/map.png" alt="">Somewhere around</li>
							<li><img class="map" src="/assets/icon/phone.png" alt="">+33 6 26 01 28 01</li>
							<li><img class="map" src="/assets/icon/gmail.png" alt="">a.moussier@hotmail.fr</li>
						</ul>
					</div>
				</div>
			</div><!-- footer info -->

			<!-- footer destination -->
			<div class="col-md-3 col-sm-6 f-phone-responsive">
				<div class="single-footer">
					<div class="footer-title">
						<h3>Follow Us</h3>
					</div>
					<div class="footer-social-media">
						<div class="social-footer-title">

						</div>
						<ul class="footer-social-link">
							<li class="facebook"><a href="/"><i class="fab fa-facebook"></i></a>
							</li>
							<li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a>
							</li>
							<li class="linkedin"><a href="#"><i class="fab fa-linkedin"></i></a>
							</li>
							<li class="gplus"><a href="#"><i class="fab fa-google-plus"></i></a>
							</li>
							<li class="youtube"><a href="#"><i class="fab fa-youtube"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- footer destination -->


			<div class="col-md-3 col-sm-6 f-phone-responsive">
				<div class="single-footer">
					<div class="footer-title">
						<h3>Quick Contact</h3>
					</div>
					<div class="footer-contact-form">
			<!--  <%= form_for @contact, url: home_index_path, remote: true do |f| %> -->
					<ul class="footer-form-element">
						<li>
							<%= f.text_field  :name, required: true, class: "footer-form-element",
														placeholder: "Name" %></br>
						</li>
						<li>
						 <%= f.text_field :email, required: true, class: "footer-form-element",
														placeholder: "Email" %></br>
						</li>
						<li>
						<%= f.text_area :message, rows: 8, cols: 40, required: true, class: "message",
														placeholder: "Send a message to Alex."%></br>
						</li>
						<div class= "hidden">
							<%= f.label :nickname %>
							<%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
						</div>
						<li>
						<button>	 <%= f.submit 'SEND', id: 'cassecouille', class: 'btn btn-primary button' %></button>

						</li>
					</ul>
				<% end %>
			</div>
		</div>
		</div>
		</div>

		<div class="row">
			<div class="footer-bottom">
				<div class="col-md-5">
					<div class="copyright">
						<p>Copyright &copy; 2018 <a href="#"><span>FreeNation</span></a></p>
					</div>
				</div>
				<div class="col-md-7">
					<ul class="payicon pull-right">
						<li>We Accept</li>
						<li><img src="/assets/payicon01.png" alt=""></li>
						<li><img src="/assets/payicon02.png" alt=""></li>
						<li><img src="/assets/payicon03.png" alt=""></li>
						<li><img src="/assets/payicon04.png" alt=""></li>
						<li><img src="/assets/payicon05.png" alt=""></li>
						<li><img src="/assets/payicon06.png" alt=""></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer> <!-- end footer -->


<div class="to-top pos-rtive">
	<a href="#"><i class = "fa fa-angle-up"></i></a>
</div><!-- Scroll to top jump button end-->
