<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="TRABBLE - Tour, Travel, Travel Agency Template">
    <meta name="keywords" content="Tour, Travel, Travel Agency Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeNation</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Google Fonts Includes -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Favi icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- Button Hover animate css -->
    <link rel="stylesheet" href="/assets/css/hover-min.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href=/assets/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- slick css -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <!-- chosen.min-->
    <link rel="stylesheet" href="/assets/css/chosen.min.css">
    <!-- chosen.min-->
    <link rel="stylesheet" href="/assets/css/jquery-customselect.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- magnific Css -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="/assets/css/assets/revolution/layers.css">
    <link rel="stylesheet" href="/assets/assets/revolution/navigation.css">
    <link rel="stylesheet" href="/assets/css/assets/revolution/settings.css">
    <!-- custome css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/assets//css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<header>
  <!-- header-bottom area start here -->
  <div class="header-bottom-area header-bottom-area-4 header-bottom-3" id="stick-header">
    <div class="container">
      <div class="row">
        <!-- logo area start here -->
        <div class="col-md-2">
          <div class="logo-area">
            <a href="/"><img src="/assets/logo_free_nation.png" width="78" height="78">
            </a>
          </div>
        </div>
        <!-- logo area end here -->
        <!-- main menu start here -->
        <div class="col-md-10 col-sm-10">
          <nav>
            <ul class="main-menu text-right">          
            <% if user_signed_in? %>
            <li><%= link_to "Events", events_path %>
            </li>
            <li>
            <img class="counter-elements" height="35px" width="35px" src="/assets/icon/4.jpg">
            <span style="font-size: 1em; color: Snow;"><i class="fa fa-caret-down"></i></span>
                <ul class="dropdown">
                    <li><%= link_to "Profil", profils_path %>
                    </li>
                    <li><%= link_to "Log out", destroy_user_session_path , method: :delete %>
                    </li>
                </ul>
            </li>    
            <% else %>
              <li><%= link_to "Events", events_path %>
              </li>  
              <li><%= link_to "Subscribe", new_user_registration_path %>
              </li>
              <li><%= link_to "Login", new_user_session_path %>
              </li>
            <% end %> 
            </ul>
          </nav>
        </div>
        <!-- main menu end here -->
      </div>
    </div>
  </div>
  <!-- header-bottom area end here -->
  <!-- header-bottom area end here -->
</header>
<!-- header area end here -->
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
   <% end %>
    <%= yield %>


<!-- Preloader -->
<%= render 'layouts/footer'  %>
    <!-- ============================
            JavaScript Files
    ============================= -->
    <!-- jquery latest version -->
    <script src="/assets/js/vendor/jquery-3.2.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- slick js -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- meanmenu js -->
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- jquery-ui js -->
    <script src="/assets/js/jquery-ui.min.js"></script>
    <!-- wow js -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- counter js -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- Countdown js -->
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <!-- waypoints js -->
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <!-- Isotope js -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- magnific js -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Image loaded js -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- chossen js -->
    <script src="/assets/js/chosen.jquery.min.js"></script>
    <script src="/assets/js/assets/revolution/jquery.themepunch.revolution.min.js"></script>
    <script src="/assets/js/assets/revolution/jquery.themepunch.tools.min.js"></script>
    <!-- Revolution Extensions -->
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/assets/js/assets/revolution/extensions/revolution.extension.video.min.js"></script>
    <script src="/assets/js/assets/revolution/revolution.js"></script>
    <!-- Jquery plugin -->
    <script src="/assets/js/plugins.js"></script>
    <!-- select2 js plugin -->
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/colors.js"></script>
    <!-- Jquery plugin -->
    <script src="/assets/js/jquery-customselect.js"></script>
    <!-- main js -->
    <script src="/assets/js/custom.js"></script>
</body>
</html>